/* Page Title */

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 40px;
}

/* Input Form */

#movie-rating-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#movie-rating-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Input Form Inputs */

#movie-title-input {
    height: 20px;
    width: 300px;
    border-radius: 5px;
    margin-left: 20px;
    border: 2px solid black;
}

#movie-rating-input {
    height: 20px;
    width: 100px;
    border-radius: 5px;
    margin-left: 20px;
    border: 2px solid black;
}

#form-submit-button {
    background-color: rgb(238, 228, 217);
    height: 26px;
    width: 150px;
    border-radius: 5px;
    margin-left: 20px;
    border: 2px solid black;
}

/* Movie and Rating Answer */

#movie-and-rating {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    height: 40px;

}

.movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.movieDeleteButton {
    background-color: rgb(238, 228, 217);
    border-radius: 5px;
    margin-left: 20px;
    border: 2px solid black;
}








